.roboto-<uniquifier > {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.raleway-<uniquifier > {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
h1,h2,h3,h4,h5,h6,p {
    
    margin: 0;
    /* Скидає відступи у абзаців */
    
}
a {
    text-decoration: none;
    /* Видаляє підкреслення у посилань */
}

ul,
ol {
    list-style: none;
    /* Видаляє маркери у списках */
    padding: 0;
    /* Скидає відступи у списках */
    margin: 0;
    /* Скидає відступи у списках */
}

img {
    display: flex;
    max-width: 100%;
    /* Зображення не виходять за межі блоку */
    height: auto;
    /* Висота зображення автоматична */
}

.container {
    max-width: 1440px;
    /* Максимальна ширина контейнера */
    padding-left: 156px;
    padding-right:156px; 
    margin-left: 0;
    margin-right:0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.header-nav {
    display:flex;
    flex-direction: row;
    margin-right: 332px;
   
}
.logo {
    display: flex;
    align-items: center;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    margin-left: 0;
    margin-right: 76px;
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
            /* line-height: 21px; */
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
 
span {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
    
        /* line-height: 21px; */
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}

.contacts {
    display: flex;
    align-items: center;
    gap: 40px;
}
.links {
    display: flex;
    justify-content: flex-start; 
    /*justify-content: space-between; */
        align-items: center;
        gap: 40px

}
.links:not(:last-child) {
    margin-right: 40px;
    /* Відстань між пунктами меню */
    padding-right: 40px;
}

.contacts-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    gap: 40px;

}
.menu-item {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        
        
}

.menu-item:hover {
    color: #404bbf;
    text-decoration: underline;
    /* Додає підкреслення при наведенні */
}

.menu-item:focus {
    color: #404bbf;
    text-decoration: underline;
    /* Додає підкреслення при фокусі */
}

address {
    font-style: normal
}

.contact-info {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}
.contact-info:hover {
    color: #404bbf;
    text-decoration: underline;
    /* Додає підкреслення при наведенні */
}
.contact-info:focus {
    color: #404bbf;
    text-decoration: underline;
    /* Додає підкреслення при фокусі */
}
.section-solution {
    background: #2e2f42;
}

.solution {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
    
        /* line-height: 60px; */
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.service {
    
        background: #4d5ae5;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #fff; 
        cursor: pointer;
    }

.service:hover {
    background-color: #404BBF;
    }

.service:focus {
    background-color: #404BBF;
}

.advantages-title {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
    
        /* line-height: 24px; */
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.advantages-text {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}
.our-team {
    background: #F4F4FD;
}

.our-team-list {
    background-color: #FFFFFF;
}
.our-team-main {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
    
        /* line-height: 40px; */
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize
}
.our-team-item {
    background-color: #FFFFFF
}
.our-team-title {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
    
        /* line-height: 24px; */
        line-height: 120%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.our-team-text {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

.portfolio-title {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
    
        /* line-height: 40px; */
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.portfolio-title-list {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
    
        /* line-height: 24px; */
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-text {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
    
        /* line-height: 24px; */
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}
.footer {
        background: #2e2f42;
        
}
.footer-text {
font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.logo a {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
    
        /* line-height: 21px; */
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
    
        /* line-height: 21px; */
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}